$xtxColor: #3C80FF;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;
// $primary-100:#44E1E1;
// $primary-200:#44E1E1;
// $primary-300:#9CFBF0;
$primary-100:#3C80FF;
$primary-200:#5992ff;
$primary-300:#8fc6fd;
$primary-400:#c3dffa;
$primary-500:#d7ebfd;